.loaderContainer {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
body.light-theme {
    background-color: #f2f4f8;
    color: #1c1f26;
    transition: background-color 0.3s ease;
}